extends layout

block content

	div(style="width: 30%; float: right;")
		h2.highlight Player Data
		li= JSON.stringify(next)
		if users.length
			table
				thead(style="text-transform: capitalize;")
					tr
						th(style="padding: 2px 20px 2px 0") User
						th(style="padding: 2px 20px 2px 0") Score
						th(style="padding: 2px 20px 2px 0") Wins
						th(style="padding: 2px 20px 2px 0") Losses
						th(style="padding: 2px 20px 2px 0") Streak
				tbody
					for u in users
						tr
							td(style="padding: 2px 20px 2px 0") #{u.name}
							td(style="padding: 2px 20px 2px 0") #{u.score}
							td(style="padding: 2px 20px 2px 0") #{u.gameWins}
							td(style="padding: 2px 20px 2px 0") #{u.gameLosses}
							td(style="padding: 2px 20px 2px 0") #{u.curStreak}	
						
		h2.highlight Character Data
		for u in users
				table
					thead(style="text-transform: capitalize;")
						tr
							th(style="padding: 2px 20px 2px 0") User
							th(style="padding: 2px 20px 2px 0") Character
							th(style="padding: 2px 20px 2px 0") streak
							th(style="padding: 2px 20px 2px 0") Value
					tbody
						for c in u.characters
							tr
								td(style="padding: 2px 20px 2px 0") #{u.name}
								td(style="padding: 2px 20px 2px 0") #{c.name}
								td(style="padding: 2px 20px 2px 0") #{c.curStreak}
								td(style="padding: 2px 20px 2px 0") #{c.value}
	h1 Submit Game
	div(style="width: 33%; float: left")
	form(action='http://localhost:3000/games/submit',method='get')
		p: input(input type="text", name='winningPlayer', placeHolder="winningPlayer", value="")
		p: input(input type="text", name='winningCharacter', placeHolder="winningCharacter", value="")
		p: input(input type="text", name='losingPlayer', placeHolder="losingPlayer", value="")
		p: input(input type="text", name='losingCharacter', placeHolder="losingCharacter", value="")
		p: input(input type="text", name='tournament', placeHolder="tournament", value="")
		p: input(input type="text", name='supreme', placeHolder="supreme", value="")
		p: input(type='submit', value="Submit")


	a(href='/users/#{title}/seed') Seed my opponent
	p
	a(href='/tournaments/#{title}/edit') Edit #{title}


							