extends layout

block content
	h1 Welcome, #{username}. Seed your opponent for #{title}

	form(action='/users/#{title}/seed',method='post',enctype='application/json',extended:true)

		label opponent
		select(name="username", style="width: 200px;")
			for u in users
				option(value="#{u.name}") #{u.name}

		p: input(type='text', name='seeds[orchid]', placeholder="orchid")
		p: input(type='text', name='seeds[wulf]', placeholder="wulf")
		p: input(type='text', name='seeds[kanra]', placeholder="kanra")
		p: input(type='submit', value="Submit Seeds")