extends ../layout

block content

	div(style="width: 30%; float: right;")
		h2.highlight Player Data
		each val, index in next
			li= index +':' + val

		if users.length
			table
				thead(style="text-transform: capitalize;")
					tr
						th(style="padding: 2px 20px 2px 0") User
						th(style="padding: 2px 20px 2px 0") Score
						th(style="padding: 2px 20px 2px 0") Wins
						th(style="padding: 2px 20px 2px 0") Losses
						th(style="padding: 2px 20px 2px 0") Streak
				tbody
					for u in users
						tr
							td(style="padding: 2px 20px 2px 0") #{u.name}
							td(style="padding: 2px 20px 2px 0") #{u.score}
							td(style="padding: 2px 20px 2px 0") #{u.wins}
							td(style="padding: 2px 20px 2px 0") #{u.losses}
							td(style="padding: 2px 20px 2px 0") #{u.curStreak}	
						
		h2.highlight Character Data
		for u in users
				table
					thead(style="text-transform: capitalize;")
						tr
							th(style="padding: 2px 20px 2px 0") User
							th(style="padding: 2px 20px 2px 0") Character
							th(style="padding: 2px 20px 2px 0") Wins
							th(style="padding: 2px 20px 2px 0") Losses
							th(style="padding: 2px 20px 2px 0") streak
							th(style="padding: 2px 20px 2px 0") Value

					tbody
						for c in u.characters
							tr
								td(style="padding: 2px 20px 2px 0") #{u.name}
								td(style="padding: 2px 20px 2px 0") #{c.name}
								td(style="padding: 2px 20px 2px 0") #{c.wins}
								td(style="padding: 2px 20px 2px 0") #{c.losses}
								td(style="padding: 2px 20px 2px 0") #{c.curStreak}
								td(style="padding: 2px 20px 2px 0") #{c.value}
								

	if seeded
		h1 Submit Game
		div(style="width: 33%; float: left")
		
		- var playerArr = [];
		- var charArr = [];
		- var windex = 0;
		- var lindex = 1;

		each char, player in next
			- playerArr.push(player)
			- charArr.push(char)

		- for(var i=0;i<playerArr.length;i++){
			form(action='http://localhost:3000/games/submit',method='post')
				- if(i!==0){
					- windex = 1
					- lindex = 0
				- }
				p: input(type="hidden", name='winningPlayer', value="#{playerArr[windex]}")
				p: input(type="hidden", name='winningCharacter', value="#{charArr[windex]}")
				p: input(type="hidden", name='losingPlayer' value="#{playerArr[lindex]}")
				p: input(type="hidden", name='losingCharacter' value="#{charArr[lindex]}")
				p: input(type="hidden", name='tournament' value="#{title}") 
				p: input(type="checkbox", name='supreme', checked=false)
				p: input(type='submit', value="#{playerArr[windex]}'s #{charArr[windex]} Wins")
		-}

	else
		a(href='/users/#{title}/seed') Seed my opponent


	
	p
	a(href='/tournaments/#{title}/edit') Edit #{title}


							