extends ../layout

block content
	h2 Welcome, #{username}
		table
			thead(style="text-transform: capitalize;")
				tr
					th(style="padding: 2px 20px 2px 0") tourneyName
					th(style="padding: 2px 20px 2px 0") Goal
					th(style="padding: 2px 20px 2px 0") Champion
					th(style="padding: 2px 20px 2px 0") Active
					th(style="padding: 2px 20px 2px 0") Time
			tbody
				for t in tournaments
					tr
						td
							a(href='/tournaments/' + t.tournamentName) #{t.tournamentName}
						td(style="padding: 2px 20px 2px 0") #{t.goal}
						td(style="padding: 2px 20px 2px 0") #{t.champion}
						td(style="padding: 2px 20px 2px 0") #{t.active}
						td(style="padding: 2px 20px 2px 0") #{t.time}

		a(href='/tournaments/new') Create New Tournament